# Load data

In [1]:
import torchvision.datasets as dsets
import torchvision.transforms as transforms

In [3]:
# Transformations
transform_train = transforms.Compose([
    transforms.RandomCrop(32, padding=4),
    transforms.RandomHorizontalFlip(),
    transforms.ToTensor(),
    transforms.Normalize((0.4914, 0.4822, 0.4465), (0.2023, 0.1994, 0.2010)),
])
transform_test = transforms.Compose([
    transforms.ToTensor(),
    transforms.Normalize((0.4914, 0.4822, 0.4465), (0.2023, 0.1994, 0.2010)),
])

# Load train set
train_set = dsets.CIFAR10('../', train=True, download=True, transform=transform_train)

# Load test set (using as validation)
val_set = dsets.CIFAR10('../', train=False, download=True, transform=transform_test)

Files already downloaded and verified
Files already downloaded and verified

# Import Resnet Models
----

In [4]:
import torch
import torch.nn as nn
import torch.optim as optim
import numpy as np
import os.path
from torch.utils.data import DataLoader
from tqdm.auto import tqdm
from copy import deepcopy
from resnet import ResNet18

In [5]:
# Select device
# device = torch.device('cuda')
device = torch.device('cpu')

## Import Resnet model

In [6]:
# Check for model
if os.path.isfile('cifar resnet.pt'):
    # Load saved model
    print('Loading saved model')
    model_resnet = torch.load('cifar resnet.pt').to(device)
else:
    print('Model not available')

Loading saved model

## Import surrogate

In [7]:
from fastshap import ImageSurrogate
from fastshap.utils import MaskLayer2d, KLDivLoss, DatasetInputOnly

In [8]:
# Check for model
if os.path.isfile('cifar surrogate.pt'):
    print('Loading saved surrogate model')
    surr = torch.load('cifar surrogate.pt').to(device)
    surrogate = ImageSurrogate(surr, width=32, height=32, superpixel_size=2)

else:
    print('Model not available')

Loading saved surrogate model

## Import Explainer

In [9]:
from unet import UNet
from fastshap import FastSHAP

In [10]:
# Check for model
if os.path.isfile('cifar explainer.pt'):
    print('Loading saved explainer model')
    explainer = torch.load('cifar explainer.pt').to(device)
    fastshap = FastSHAP(explainer, surrogate, link=nn.LogSoftmax(dim=1))

else:
    print('Model not available')

Loading saved explainer model

# Import Vit Models
-----

## Import Vit Model

In [29]:
from vit import ViT
model_path = 'cifar_c10_vit.pt'

In [30]:
if os.path.isfile(model_path):
    # load saved model
    print("Loading saved model")
    model_vit = torch.load(model_path).to(device)
else:
    print('Model not available')

Loading saved model

In [31]:
torch.save(model.cpu(), model_path)

## Import surrogates

In [15]:
from fastshap import ImageSurrogate
from fastshap.utils import MaskLayer2d, DatasetInputOnly, KLDivLoss

In [16]:
surr_model_path = 'cifar_c10_vit_surrogate_lb20.pt'

In [17]:
# Check for model
if os.path.isfile(surr_model_path):
    print('Loading saved surrogate model')
    surr = torch.load(surr_model_path).to(device)
    surrogate = ImageSurrogate(surr, width=32, height=32, superpixel_size=2)
else:
    print('Model not available')

Loading saved surrogate model

## Import explainer

In [18]:
from unet import UNet
from fastshap import FastSHAP

In [19]:
explainer_path = 'cifar_explainer_unet_lb20.pt'

In [20]:
# Check for model
if os.path.isfile(explainer_path):
    print('Loading saved explainer model')
    explainer = torch.load(explainer_path).to(device)
    fastshap = FastSHAP(explainer, surrogate, link=nn.LogSoftmax(dim=1))

else:
    print('Model not available')

Loading saved explainer model

# Initialize dataset

In [210]:
dset = val_set
dset_size = 300
# dset_size = 10
targets = np.array(dset.targets)
num_classes = targets.max() + 1
classes = ['Airplane', 'Car', 'Bird', 'Cat', 'Deer', 'Dog', 'Frog', 'Horse', 'Ship', 'Truck']

# Plot individual images and values

In [211]:
import matplotlib.pyplot as plt

In [212]:
def plot_img(x):
    mean = np.array([0.4914, 0.4822, 0.4465])[:, np.newaxis, np.newaxis]
    std = np.array([0.2023, 0.1994, 0.2010])[:, np.newaxis, np.newaxis]
    im = x.numpy() * std + mean    
    im = im.transpose(1, 2, 0).astype(float)
    im = np.clip(im, a_min=0, a_max=1)
    plt.imshow(im, vmin=0, vmax=1)
    plt.show()

In [213]:
def plot_values(value):
#     plt.imshow(value, cmap='seismic',vmin=-m, vmax=m )
    plt.imshow(value, cmap='seismic')

# Collect performance results Using Resnet

## Create dataframe to store results

In [214]:
import pandas as pd
import numpy as np

In [215]:
columns =  ['y_label','y_A','y_prob_correct_A', 'y_prob_A', 'A','y_B','y_prob_correct_B', 'y_prob_B', 'B']
dset_idxs = np.array(range(dset_size))
results = pd.DataFrame(columns = columns, index = dset_idxs)

In [216]:
results.head()

,y_label,y_A,y_prob_correct_A,y_prob_A,A,y_B,y_prob_correct_B,y_prob_B,B
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Collect data

In [217]:
model_A = model_resnet
model_B = model_vit

In [218]:
def get_pred(dset, dset_size, idx, model, model_name, x, y):
    y_pred = model(x).softmax(dim=1).detach()
    y_pred_class = np.argmax(y_pred)

    # store values

    results.iloc[idx]['y_' + model_name] = y_pred_class.item()
    results.iloc[idx]['y_prob_correct_' + model_name] = y_pred[0][y].item()
    results.iloc[idx]['y_prob_' + model_name] = y_pred[0][y_pred_class.item()].item()

    if (y == y_pred_class): 
        results.iloc[idx][model_name] = 1
    else:
        results.iloc[idx][model_name] = 0

In [219]:
def collect_data(dset, dset_size, results, model_A, model_B):
    for idx in range(dset_size):
        x, y = zip(*[dset[idx]])
        x = torch.stack(x)
        y = y[0]
        
        results.iloc[idx]['y_label'] = y
        get_pred(dset, dset_size, idx, model_A, 'A', x, y)
        get_pred(dset, dset_size, idx, model_B, 'B', x, y)

In [220]:
def check_results(idx,  results):
    x, y = zip(*[dset[idx]])
    x = x[0]
    y = y[0]
    print(f'Label = {classes[y]}, {y}')
    y_predicted = results.iloc[idx]['y_resnet_class'] 
    print(f'Predicted = {classes[y_predicted]} , {y_predicted}' )
    plot_img(x)

In [221]:
collect_data(dset, dset_size, results, model_A, model_B)

In [222]:
results

,y_label,y_A,y_prob_correct_A,y_prob_A,A,y_B,y_prob_correct_B,y_prob_B,B
0,3,3,0.366576,0.366576,1,3,1.0,1.0,1
1,8,8,0.307475,0.307475,1,8,0.999998,0.999998,1
2,8,1,0.180506,0.241541,0,8,0.999936,0.999936,1
3,0,1,0.019308,0.37162,0,0,0.846047,0.846047,1
4,6,1,0.06216,0.321299,0,6,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...
295,4,1,0.102048,0.165709,0,4,0.9983,0.9983,1
296,6,1,0.134055,0.25714,0,6,1.0,1.0,1
297,0,1,0.028894,0.570569,0,0,0.99972,0.99972,1
298,0,3,0.097698,0.267243,0,0,0.998641,0.998641,1
299,6,1,0.085947,0.251992,0,6,1.0,1.0,1

# Classify samples into sets

In [227]:
A_wrong_B_wrong = results[(results['A'] == 0) & (results['B'] == 0)]

In [228]:
A_wrong_B_correct = results[(results['A'] == 0) & (results['B'] == 1)]

In [229]:
A_correct_B_wrong = results[(results['A'] == 1) & (results['B'] == 0)]

In [230]:
A_correct_B_correct = results[(results['A'] == 1) & (results['B'] == 1)]

In [231]:
A_wrong_B_wrong

,y_label,y_A,y_prob_correct_A,y_prob_A,A,y_B,y_prob_correct_B,y_prob_B,B
35,2,1,0.02934,0.325694,0,1,0.0,0.93951,0
47,9,1,0.189299,0.243881,0,8,0.038373,0.959992,0
53,3,9,0.105674,0.363836,0,6,0.000521,0.99941,0
57,7,3,0.043962,0.329053,0,5,0.0,0.99999,0
58,4,5,0.098013,0.228652,0,3,0.003957,0.98514,0
59,6,1,0.031643,0.327265,0,7,0.23121,0.679919,0
61,3,5,0.116148,0.219245,0,5,0.268519,0.731466,0
85,5,3,0.190139,0.225199,0,7,0.142349,0.801315,0
87,7,1,0.038673,0.414504,0,0,0.000032,0.995287,0
118,2,9,0.017582,0.376003,0,3,0.00156,0.993404,0
125,0,9,0.071573,0.247604,0,2,0.000867,0.745884,0
128,5,3,0.164436,0.181512,0,3,0.00474,0.797657,0
129,2,3,0.121587,0.218832,0,0,0.000019,0.999976,0
130,4,3,0.118831,0.207886,0,2,0.377577,0.622415,0
139,9,1,0.210871,0.320606,0,0,0.00001,0.825094,0
145,7,1,0.015068,0.3877,0,3,0.002551,0.975038,0
147,2,9,0.011705,0.383065,0,5,0.000075,0.999698,0
148,5,1,0.091479,0.206203,0,7,0.010198,0.989762,0
162,6,1,0.034782,0.438939,0,5,0.008963,0.990524,0
164,8,9,0.129239,0.316282,0,0,0.266023,0.733772,0
183,2,9,0.138974,0.221374,0,6,0.001654,0.996406,0
188,4,9,0.160477,0.184819,0,3,0.010286,0.989712,0
195,2,0,0.120967,0.202949,0,4,0.022407,0.946507,0
211,4,8,0.05497,0.215165,0,8,0.000224,0.943442,0
215,0,3,0.078439,0.237166,0,2,0.000547,0.998775,0
218,8,1,0.10911,0.385487,0,3,0.002021,0.923369,0
220,7,5,0.091746,0.220206,0,4,0.460699,0.537353,0
228,7,9,0.051715,0.215246,0,3,0.000357,0.506484,0
237,0,9,0.130872,0.264024,0,7,0.080357,0.860808,0
242,8,1,0.149385,0.369161,0,9,0.043736,0.899165,0
255,0,1,0.064463,0.228909,0,8,0.022234,0.959912,0
258,0,8,0.102155,0.268901,0,8,0.004742,0.995119,0
262,5,1,0.214896,0.217644,0,3,0.000541,0.994549,0
271,3,5,0.165432,0.217195,0,4,0.06387,0.555868,0
281,0,1,0.05282,0.457573,0,1,0.000002,0.999993,0
284,0,9,0.112102,0.31686,0,9,0.0,1.0,0
287,0,1,0.088616,0.293259,0,8,0.4847,0.5153,0

In [232]:
A_wrong_B_correct

,y_label,y_A,y_prob_correct_A,y_prob_A,A,y_B,y_prob_correct_B,y_prob_B,B
2,8,1,0.180506,0.241541,0,8,0.999936,0.999936,1
3,0,1,0.019308,0.37162,0,0,0.846047,0.846047,1
4,6,1,0.06216,0.321299,0,6,1.0,1.0,1
5,6,1,0.041133,0.551747,0,6,0.999997,0.999997,1
7,6,5,0.060609,0.264785,0,6,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...
295,4,1,0.102048,0.165709,0,4,0.9983,0.9983,1
296,6,1,0.134055,0.25714,0,6,1.0,1.0,1
297,0,1,0.028894,0.570569,0,0,0.99972,0.99972,1
298,0,3,0.097698,0.267243,0,0,0.998641,0.998641,1
299,6,1,0.085947,0.251992,0,6,1.0,1.0,1

In [233]:
A_correct_B_wrong

,y_label,y_A,y_prob_correct_A,y_prob_A,A,y_B,y_prob_correct_B,y_prob_B,B
12,5,5,0.315315,0.315315,1,3,0.053655,0.753414,0
36,4,4,0.326334,0.326334,1,7,0.003052,0.996187,0
76,9,9,0.333115,0.333115,1,0,0.167144,0.832351,0
101,5,5,0.259005,0.259005,1,7,0.104662,0.513199,0
171,9,9,0.430742,0.430742,1,3,0.010039,0.527993,0
178,5,5,0.220996,0.220996,1,3,0.000207,0.999753,0
184,3,3,0.23282,0.23282,1,0,0.165736,0.762415,0
247,9,9,0.368243,0.368243,1,8,0.000003,0.999997,0
286,1,1,0.616593,0.616593,1,8,0.368821,0.630906,0

In [234]:
A_wrong_B_wrong

,y_label,y_A,y_prob_correct_A,y_prob_A,A,y_B,y_prob_correct_B,y_prob_B,B
35,2,1,0.02934,0.325694,0,1,0.0,0.93951,0
47,9,1,0.189299,0.243881,0,8,0.038373,0.959992,0
53,3,9,0.105674,0.363836,0,6,0.000521,0.99941,0
57,7,3,0.043962,0.329053,0,5,0.0,0.99999,0
58,4,5,0.098013,0.228652,0,3,0.003957,0.98514,0
59,6,1,0.031643,0.327265,0,7,0.23121,0.679919,0
61,3,5,0.116148,0.219245,0,5,0.268519,0.731466,0
85,5,3,0.190139,0.225199,0,7,0.142349,0.801315,0
87,7,1,0.038673,0.414504,0,0,0.000032,0.995287,0
118,2,9,0.017582,0.376003,0,3,0.00156,0.993404,0
125,0,9,0.071573,0.247604,0,2,0.000867,0.745884,0
128,5,3,0.164436,0.181512,0,3,0.00474,0.797657,0
129,2,3,0.121587,0.218832,0,0,0.000019,0.999976,0
130,4,3,0.118831,0.207886,0,2,0.377577,0.622415,0
139,9,1,0.210871,0.320606,0,0,0.00001,0.825094,0
145,7,1,0.015068,0.3877,0,3,0.002551,0.975038,0
147,2,9,0.011705,0.383065,0,5,0.000075,0.999698,0
148,5,1,0.091479,0.206203,0,7,0.010198,0.989762,0
162,6,1,0.034782,0.438939,0,5,0.008963,0.990524,0
164,8,9,0.129239,0.316282,0,0,0.266023,0.733772,0
183,2,9,0.138974,0.221374,0,6,0.001654,0.996406,0
188,4,9,0.160477,0.184819,0,3,0.010286,0.989712,0
195,2,0,0.120967,0.202949,0,4,0.022407,0.946507,0
211,4,8,0.05497,0.215165,0,8,0.000224,0.943442,0
215,0,3,0.078439,0.237166,0,2,0.000547,0.998775,0
218,8,1,0.10911,0.385487,0,3,0.002021,0.923369,0
220,7,5,0.091746,0.220206,0,4,0.460699,0.537353,0
228,7,9,0.051715,0.215246,0,3,0.000357,0.506484,0
237,0,9,0.130872,0.264024,0,7,0.080357,0.860808,0
242,8,1,0.149385,0.369161,0,9,0.043736,0.899165,0
255,0,1,0.064463,0.228909,0,8,0.022234,0.959912,0
258,0,8,0.102155,0.268901,0,8,0.004742,0.995119,0
262,5,1,0.214896,0.217644,0,3,0.000541,0.994549,0
271,3,5,0.165432,0.217195,0,4,0.06387,0.555868,0
281,0,1,0.05282,0.457573,0,1,0.000002,0.999993,0
284,0,9,0.112102,0.31686,0,9,0.0,1.0,0
287,0,1,0.088616,0.293259,0,8,0.4847,0.5153,0